<!DOCTYPE HTML5>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title>问卷列表</title>
    <link href="../../public/css/profile/list.css" rel="stylesheet" />
  </head>
  <body>
  	<a class="a-back" href="../profile/profile.jsp">返回个人中心</a>
  	<div class="lqt-wrapper" id="qa_list">
  		<ul class="lqt-list" id="examen_list" data-page="1">
			<!-- 报修 -->
		</ul>
		<div id="more"><div id="loading"><span class="scale-point active-1 scalePoint"></span><span class="scale-point active-2 scalePoint"></span><span class="scale-point active-3 scalePoint"></span><span class="pullTxt">正在加载中</span></div></div>
  	</div>
  	<script>
  		var g_config = {
  			jsBasePath: '',
  			jsVersion: '',
  			pageType: 'examen_list',
  			pageName: 'examen_list'
  		};
  	</script>
	<script src="../../public/js/lib/seajs/seajs/2.3.0/sea.js"></script>
	<script src="../../public/js/config/lqt.js"></script>
	<script>seajs.use("../../public/js/list/list.js");</script>
  </body>
</html>