<!DOCTYPE HTML5>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title>通知详情</title>
    <link href="../../public/css/notice/detail.css" rel="stylesheet" />
  </head>
  <body>
  	<a class="a-back" href="../school/home.html?type=notice">返回通知</a>
  	<div class="lqt-container">
  		<div>
  			
  			<div class="detail-container">
				<p class="detail-title">开学大检查</p>
				<p class="detail-content">开学之初，有维修人员集中处理各个报修。请及时检查各个班级以及办公场所的门窗桌椅情况。若有破损，请及时报修。</p>
				<p class="detail-info">总务处 09-05 09:58</p>
				<ul class="lqt-list detail-comment">
				
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="http://gz.lqtedu.com/attachment/userIcon/2016-09-08/28c7151d-64a2-41da-88f9-0f5ccd390bc6.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">***</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  可以看到
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">09-08</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2015-06-19/90bf7fe8-4a73-4dc1-8070-f8fdec5a5509.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">amy老师</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  可以哒可以哒
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">09-08</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2015-06-19/90bf7fe8-4a73-4dc1-8070-f8fdec5a5509.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">amy老师</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  keyid
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">09-08</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2016-09-08/c30ad0aa-b52a-456e-a524-7e06bdc5b198.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">刘斩仙同学</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  能啊哈哈微信
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">09-08</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2016-05-05/c86c7f2b-e1b5-4c2c-b72f-f9dfca9a947f.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">程军老师</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  老师微信
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">09-08</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="http://gz.lqtedu.com/attachment/userIcon/2016-09-08/f15ebd9a-94ac-4755-8c09-d6e96949b1ea.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">***</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  看不到
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">09-08</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2016-09-08/01fd7ff1-820f-4507-a7d3-a70d982b59a2.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">初夏同学</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  gggg
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">09-08</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2016-09-08/fcacd9a9-cae5-487a-bc65-9de8f43244af.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">周明飞老师</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  能看到（from手机端）
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">23小时前</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2016-07-06/d0893932-4058-4dd6-adb9-02dd6c28b543.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">wendy老师</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  收到
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">23小时前</p>
						</div>
	  				</li>
	  			
					<li class="it clearfix it-m">
	  					<div class="list-title avatar">
	  						<img class="avatar" src="/attachment/userIcon/2016-09-08/d5e02e36-0292-46fc-8e58-da7ba3fe8870.jpg">
	  					</div>
	  					<div class="list-content">
						    <p class="comment-name">徐天艾同学</p>
						    <div class="comment-warpper">
						        <span class="lqt-arrow">
						           <em class="arrow-up"></em>
						           <em class="arrow-down"></em>
						        </span>
						        <p class="comment-content">
						           <span>
 
 
  好吧
 
</span>
						        </p>
						    </div>
						    <p class="comment-time">23小时前</p>
						</div>
	  				</li>
	  			
				</ul>
  			</div>
  		</div>
  	</div>
  	<div class="comment-container clearfix" id="comment">
  		<div class="comment-input fl"><input type="text" placeholder="回复一下吧..." /></div>
  		<a class="comment-btn fr" href="javascript:void(0)">回复</a>
  	</div>
  	<div id="backtop">
  		<a class="lqt-backtop" href="javascript:void(0)"><em class="icon-rise">&#x0024;</em></a>
  	</div>
  	<script>
  		var g_config = {
  			jsBasePath: '',
  			jsVersion: '',
  			pageType: 'noticeDetail'
  		};
  	</script>
	<script src="../../public/js/lib/seajs/seajs/2.3.0/sea.js"></script>
	<script src="../../public/js/config/lqt.js"></script>
	<script>seajs.use("../../public/js/notice/detail.js");</script>
  </body>
</html>