<!DOCTYPE HTML5>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title>作业-已完成</title>
    <link href="../../public/css/homework/detail.css" rel="stylesheet" />
  </head>
  <body>
  	<div class="lqt-container" id="scorll">
  		<div>
  			<div class="homework-container" id="headerBox" style="width:320px;">
  				<ul class="homework-list clearfix header-banner" id="bannerBox">
  					
  					<!-- 单选end -->
  					<!-- 问答题 -->
  					<li class="it banner-sheet sheet-qs" id="3"><!-- id：题目id -->
						<div class="homework-content">
							<p class="homework-title">3.穿过一个电阻为 R=1欧姆的单匝闭合线 圈的磁通量始终每秒钟均匀的减少2Wb ， 则：</p>
							<ul class="homework-answer">
								<li class="answer-qs qs-txt">
									<textarea readonly>1欧姆的单匝闭合线</textarea>
								</li>
								<li class="answer-qs qs-answer">答案：</li>
								<li class="answer-qs qs-txt">
									<textarea readonly>1欧姆的单匝闭合线</textarea>
								</li>
								<li class="answer-qs qs-voice it-m clearfix">
									<a class="btn-play" href="javascript:void(0)">
		  								<span class="lqt-arrow">
											<em class="arrow-up"></em>
											<em class="arrow-down"></em>
										</span>
		  								<span class="qs-voice-icon playing">&#x0026;</span>
		  								<audio preload="auto" src="../public/media/Never Had A Dream Come True.mp3">
										Your browser does not support the audio tag.
										</audio>
									</a>
										<span class="recordtime"></span>
				  				</li>
								<li class="answer-qs qs-voice it-m clearfix">
									<a class="btn-play" href="javascript:void(0)">
		  								<span class="lqt-arrow">
											<em class="arrow-up"></em>
											<em class="arrow-down"></em>
										</span>
		  								<span class="qs-voice-icon">&#x0026;</span>
		  								<audio src="../public/media/Never Had A Dream Come True.mp3">
										Your browser does not support the audio tag.
										</audio>
									</a>
										<span class="recordtime"></span>
				  				</li>
							</ul>
						</div>
  					</li>
  					<!-- 问答题end -->
  					<!-- 评语 -->
  					<li class="it banner-sheet sheet-comment" data-type="comment" id="comment">
						<div class="homework-content">
							<p class="homework-title">评价：</p>
							<p class="homework-msg">需努力</p>
							<p class="homework-title">老师留言：</p>
							<p class="homework-msg">在此后的学习过程中 怎样怎样怎样怎样怎样怎样怎样怎样怎样怎样怎样怎样怎样怎样怎样</p>
						</div>
  					</li>
  					<!-- 评语end -->
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div class="homework-bar clearfix" id="bar">
  		<a id="pre" class="homework-btn homework-pre clearfix" href="javascript:void(0)">
  			<em class="icon-change icon-pre">&#x0025;</em><span class="txt-change">上一题</span>
		</a>
  		<a id="next" class="homework-btn homework-next clearfix" href="javascript:void(0)">
  			<span class="txt-change">下一题</span><em class="icon-change icon-next">&#x0025;</em>
		</a>
  		<a class="homework-btn homework-submit clearfix" href="javascript:void(0)">
  			<span class="txt-submit">提交作业</span>
		</a>
		<span class="pre-loc"></span>
  	</div>
  	<script>
  		var g_config = {
  				jsBasePath: "",
  	  			jsVersion: '',
  	  			pageType: 'homeworkComplete',
  	  			id: '123123123',		//作业id
  	  			wx: {
  	  				appId: "123123123", 
  		  			timestamp: "123123123123", 
  		  			nonceStr: "123123123", 
  		  			signature: "123123123"
  	  			}
  		};
  	</script>
	<script src="../../public/js/lib/seajs/seajs/2.3.0/sea.js"></script>
	<script src="../../public/js/config/lqt.js"></script>
	<script>seajs.use("../../public/js/homework/detail.js");</script>
  </body>
</html>