<!DOCTYPE HTML5>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title>作业</title>
    <link href="../../public/css/homework/detail.css" rel="stylesheet" />
  </head>
  <body>
  	<a class="a-back" href="/weixin/views/webchat/school/home.jsp?type=notice">返回通知</a>
  	<div class="lqt-container lqt-wrapper">
		<div class="homework-container" id="headerBox">
			<ul class="homework-list clearfix header-banner" id="bannerBox">
				<li class="it banner-sheet" data-type="checkbox" id="1"><!-- id：题目id -->
					<div class="scroll-waper">
						<div class="scroll-dom">
							<div class="homework-tips clearfix">
								<div class="tips-content">
									<p>【gggg】</p>
									<p>ffff</p>
								</div>
								<span class="homework-deadline">截止</span>
							</div>
							<div class="homework-content">
								<p class="homework-title">"其它作业" : "问答题"></p>
								<ul class="homework-answer">
									<li class="answer-qs qs-txt">
									   <textarea class="qs-data" name="content"></textarea>
									   <div class="qs-content" contenteditable="true"></div>
									</li>
									<li class="answer-qs qs-voice it-m qs-delete clearfix" data-type="voice" id="localId">
										<a class="btn-play" href="javascript:void(0)">
											<span class="lqt-arrow">
												<em class="arrow-up"></em>
												<em class="arrow-down"></em>
											</span>
											<span class="qs-voice-icon">&#x0026;</span>
											<audio src="localId">Your browser does not support the audio tag.</audio>
										</a>
										<input class="qs-data qs-file" name="voice" type="hidden" value="" />
									</li>
								</ul>
							</div>
			 			</div>
					</div>
					<div class="qs-bar clearfix" style="position:absolute;bottom:0;z-index:1000;width:100%">
	 					<p style="float:left;width:50%"><a class="bar-btn btn-img" href="js-call://gallery?type=img&id=<%=id%>">&#x0028;</a></p>
	 					<p style="float:left;width:50%;-webkit-user-select: none;-webkit-touch-callout: none;"><a class="bar-btn btn-voice" href="javascript:void(0)">&#x0027;</a></p>
	 				</div>
				</li>
				<li class="it banner-sheet sheet-qs homework-detail" data-type="qs" id="3"><!-- id：题目id -->
					<div class="scroll-waper">
						<div class="scroll-dom">
							<div class="homework-tips clearfix">
								<div class="tips-content">
									<p>【gggg】</p>
									<p>ffff</p>
								</div>
								<span class="homework-deadline">截止</span>
							</div>
							<div class="homework-content">
								<p class="homework-title">"其它作业" : "问答题"></p>
								<ul class="homework-answer">
									<li class="answer-qs qs-txt">
									   <textarea class="qs-data" name="content"></textarea>
									   <div class="qs-content" contenteditable="true"></div>
									</li>
									<li class="answer-qs qs-img qs-delete" data-type="img">
										<img src="/public/images/1.jpg" />
										<input class="qs-data qs-file" name="img" type="hidden" value=" res.localIds[i] " />
									</li>
									<li class="answer-qs qs-img qs-delete" data-type="img">
										<img src="/public/images/1.jpg" />
										<input class="qs-data qs-file" name="img" type="hidden" value=" res.localIds[i] " />
									</li>
									<li class="answer-qs qs-voice it-m qs-delete clearfix" data-type="voice">
										<a class="btn-play" href="javascript:void(0)">
											<span class="lqt-arrow">
												<em class="arrow-up"></em>
												<em class="arrow-down"></em>
											</span>
											<span class="qs-voice-icon">&#x0026;</span>
											<audio src="">
											Your browser does not support the audio tag.
											</audio>
										</a>
										<input class="qs-data qs-file" name="voice" type="hidden" value="fweftre" />
									</li>
									<li class="answer-qs qs-voice it-m qs-delete clearfix" data-type="voice">
										<a class="btn-play" href="javascript:void(0)">
											<span class="lqt-arrow">
												<em class="arrow-up"></em>
												<em class="arrow-down"></em>
											</span>
											<span class="qs-voice-icon">&#x0026;</span>
											<audio src="">
											Your browser does not support the audio tag.
											</audio>
										</a>
										<input class="qs-data qs-file" name="voice" type="hidden" value="fweftre" />
									</li>
								</ul>
							</div>
			 			</div>
					</div>
					<div class="qs-bar clearfix">
	 					<p><a class="bar-btn btn-img" href="js-call://gallery?type=img&id=<%=id%>">&#x0028;</a></p>
	 					<p><a class="bar-btn btn-voice" href="js-call://gallery?type=voice&id=<%=id%>">&#x0027;</a></p>
	 				</div>
				</li>
				<li class="it banner-sheet sheet-qs homework-detail" data-type="qs" id="4"><!-- id：题目id -->
					<div class="scroll-waper">
						<div class="scroll-dom">
							<div class="homework-tips clearfix">
								<div class="tips-content">
									<p>【gggg】</p>
									<p>ffff</p>
								</div>
								<span class="homework-deadline">截止</span>
							</div>
							<div class="homework-content">
								<p class="homework-title">"其它作业" : "问答题"></p>
								<ul class="homework-answer">
									<li class="answer-qs qs-txt">
									   <textarea class="qs-data" name="content"></textarea>
									   <div class="qs-content" contenteditable="true"></div>
									</li>
								</ul>
							</div>
			 			</div>
					</div>
					<div class="qs-bar clearfix">
	 					<p><a class="bar-btn btn-img" href="js-call://gallery?type=img&id=<%=id%>">&#x0028;</a></p>
	 					<p><a class="bar-btn btn-voice" href="js-call://gallery?type=voice&id=<%=id%>">&#x0027;</a></p>
	 				</div>
				</li>
			</ul>
		</div>
  	</div>
  	<div class="homework-bar clearfix" id="bar">
  		<a id="pre" class="homework-btn homework-pre clearfix" href="javascript:void(0)">
  			<em class="icon-change icon-pre">&#x0025;</em><span class="txt-change">上一题</span>
		</a>
  		<a id="next" class="homework-btn homework-next clearfix" href="javascript:void(0)">
  			<span class="txt-change">下一题</span><em class="icon-change icon-next">&#x0025;</em>
		</a>
  		<a class="homework-btn homework-submit clearfix" href="javascript:void(0)">
  			<span class="txt-submit">提交作业</span>
		</a>
		<span class="pre-loc"></span>
  	</div>
  	<script>
  		var g_config = {
  			baseUrl: 'yyyy',
  			jsBasePath: '',
  			jsVersion: '',
  			pageType: 'homeworkDetail',
  			id: '6666',//作业id
  			wx: {
  				appId: 'wx2e3a10f99ee1c75e',
  				timestamp: '', // 必填，生成签名的时间戳
			    nonceStr: '', // 必填，生成签名的随机串
			    signature: '',// 必填，签名，见附录1
  			}
  		};
  		var ROOTPath = '';
  	</script>
	<script src="../../public/js/lib/seajs/seajs/2.3.0/sea.js"></script>
	<script src="../../public/js/config/lqt.js"></script>
	<script>seajs.use("../../public/js/homework/detail.js");</script>
  </body>
</html>